@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/compass-breakpoint/stylesheets/breakpoint";

// TABLES
.Table {
  $dark-color: #f2f2f2;
  $light-color: #ffffff;
  $md: 500px;

  @include display(flex);
  @include flex-flow(column nowrap);
  @include justify-content(space-between);
  border: 1px solid $dark-color;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;

  // .Table-header
  &-header {
    display: none;
    @include breakpoint($md) {
      font-weight: 700;
      background-color: $dark-color;
    }
  }
  // .Table-row
  &-row {
    width: 100%;
    &:nth-of-type(even) { background-color: $dark-color; }
    &:nth-of-type(odd) { background-color: $light-color; }
    @include breakpoint($md) {
      @include display(flex);
      @include flex-flow(row nowrap);
      &:nth-of-type(even) { background-color: $light-color; }
      &:nth-of-type(odd) { background-color: $dark-color; }
    }
    // .Table-row-item
    &-item {
      @include display(flex);
      @include flex-flow(row nowrap);
      @include flex-grow(1);
      @include flex-basis(0);
      @include word-wrap;
      padding: 0.5em;
      word-break: break-word;
      &:before {
        content: attr(data-header);
        width: 30%;
        font-weight: 700;
      }
      @include breakpoint($md) {
        border: 1px solid #fff;
        padding: 0.5em;
        &:before { content: none; }
      }
    }
  }
}

// generate Flexbox grow-rate utility classes
@for $i from 1 through 10 {
  .u-Flex-grow#{$i} {
    @include flex-grow($i);
  }
}

.Table-row {
  &.blue {
    background-color: $pale-blue;
  }
  &.green {
    background-color: $pale-green;
  }
}

.Table-row-item {
  &.highlight {
    background-color: $green;
    color: $light;
  }
  &.highlight-2 {
    background-color: $orange;
    color: $light;
  }
}