// Colors palette
$light: #FFF;
$light-grey: #f5f5f5;
$dark-grey: #343a3d;
$green: #3ebb41;
$light-green: #4cda64;
$pale-green: #e4f5ed;
$red: #dc5345;
$orange: #ee8955;
$pale-blue: #deeaf3;

// Text
$font-stack: Helvetica, sans-serif;

// Text colors
$light-text: #e0e1e1;
$dark-text: #e0e1e1;

// Layout
$side-bar-closed-offset: -210px;
$content-offset: 94px;