<div class="Table">
  <div class="Table-row Table-header">
    <div class="Table-row-item u-Flex-grow2">Long Header1</div>
    <div class="Table-row-item">Header2</div>
    <div class="Table-row-item">Header3</div>
    <div class="Table-row-item">Points</div>
    <div class="Table-row-item u-Flex-grow3">Longer Header5</div>
    <div class="Table-row-item">Header6</div>
    <div class="Table-row-item">Header7</div>
  </div>
  <div class="Table-row blue">
    <div class="Table-row-item u-Flex-grow2" data-header="Header1">row1 col1</div>
    <div class="Table-row-item highlight" data-header="Header2">row1 col2</div>
    <div class="Table-row-item" data-header="Header3">row1 col3</div>
    <div class="Table-row-item highlight-2" data-header="Header4">20</div>
    <div class="Table-row-item u-Flex-grow3" data-header="Header5">row1 col5</div>
    <div class="Table-row-item" data-header="Header6">row1 col6</div>
    <div class="Table-row-item" data-header="Header7">row1 col7</div>
  </div>
  <div class="Table-row green">
    <div class="Table-row-item u-Flex-grow2" data-header="Header1">row2 col1</div>
    <div class="Table-row-item" data-header="Header2">row2 col2</div>
    <div class="Table-row-item" data-header="Header3">row2 col3</div>
    <div class="Table-row-item highlight-2" data-header="Header4">20</div>
    <div class="Table-row-item u-Flex-grow3" data-header="Header5">row2 col5</div>
    <div class="Table-row-item" data-header="Header6">row2 col6</div>
    <div class="Table-row-item" data-header="Header7">row2 col7</div>
  </div>
</div>