/// Basic frames
.md-whiteframe-z2 {
	background-color: $light-grey;
	@include box-shadow(-2px, 0, 5px, rgba(0,0,0,.2), inset)
}
.md-darkframe-z2 {
	background-color: $dark-grey;
	color: $light-text;
	.md-button, md-icon {
		color:  $light-text;
	}
}
.md-sidenav-left.md-whiteframe-z2 {
	.toggle-left {
		text-align: right;
	}
}

// Keep left nav open
.left-offset.md-closed {
    transform:translate3d( $side-bar-closed-offset, 0, 0 );
    display: block;
	span {
		display: none;	
	}
}

// Remove list styles in sidebars
.md-sidenav-left {
	ul {
		list-style: none;
		&.menu { padding: 4.5em 0 0 0; }
  		
	}
	.md-button {
		  border-radius: 0;
		  cursor: pointer;
		  display: block;
		  line-height: 40px;
		  margin: 0;
		  max-height: 40px;
		  overflow: hidden;
		  padding: 0px 16px;
		  text-align: left;
		  text-decoration: none;
		  white-space: normal;
		  width: 100%;
	}
}

// Toggle button (left nav)
.main-menu-toggle {
	position: absolute;
	left: 1em;
	top: 1.6em;
	z-index:99;
	min-width: 0;
}

.toggle-left md-icon {
	font-size: 2.4em;
	width: 35px;
	height: 35px;
}

.item-icon {
	font-size: 4em;
	width: 1.2em;
	height: 1em;
}

// Section level menu item styles
.left-offset .md-button.section {
	  line-height: 70px;
	  max-height:none;
	  text-transform: uppercase;
}

// Collapsed view
.left-offset.md-closed {
	.md-button.section {
		span {
		  display: none;
		}
		md-icon {
		  padding-left: 150px;
		}
		
	}
	
	.menu-toggle-list {
		height: 0;
		overflow: hidden;
	}
}

.open-close-indicator {
	@include transition();
}


// Active menu colours
.parentActive {
	background-color: $dark-grey;
	color: $light-text;
	
	md-icon {
		color: $light-text;
	}
	
	.open-close-indicator {
		@include transform(rotate(180deg));
	}
	
	ul {
		padding-left: 0;
	}
	
	li {
		background-color: lighten($dark-grey,5%);
		a {
			padding-left: 6em !important;
		}
		
		&.current {
			background-color: lighten($dark-grey,10%);
		}
	}
}