<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <meta charset="UTF-8">
  <title ng-bind="pageTitle"></title>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- build:css styles/main.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="styles/css/main.css"/>
  <!-- endbuild -->
  <!-- removed
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  //-->
</head>

  <body>
    <div ng-controller="GuiCommonCtrl">
      <div layout="row">
        <!-- LEFT NAV //-->
        <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 left-offset">
          <ul class="menu">
            <li ng-repeat="section in siteConfig.menu" class="parent-list-item" ng-class="{'parentActive' : section.open}">
              <md-button class="md-button-toggle section" ng-click="section.open=!section.open;toggleMenu('left', true)">
                <div flex layout="row">
                  <md-icon class="item-icon">face</md-icon>
                  <span ng-bind="section.name"></span>
                  <span flex></span>
                  <span aria-hidden="true" class="md-toggle-icon" ng-class="{'toggled' : section.open}">
                    <md-icon md-svg-src="md-toggle-arrow" class="open-close-indicator"></md-icon>
                  </span>
                </div>
              </md-button>
              <ul class="menu-toggle-list" ng-if="section.open">
                <li ng-repeat="page in section.pages" ui-sref-active="current">
                  <a ui-sref="{{page.stateName}}" ng-bind="page.name" class="md-button"></a>
                </li>
              </ul>
            </li>
          </ul>
        </md-sidenav>
        
        <!-- PAGE //-->
        <div layout="column" class="page" ng-class="{'menu-open':menuToggleStatus('left')}" layout-fill>
          <!-- HEADER //-->
          <md-toolbar class="header">
            <div class="md-toolbar-tools">
              <span ng-bind="siteConfig.name"></span>
              <span flex></span><!-- fill up the space between left and right area -->
              <md-button ng-click="toggleMenu('right')"><md-icon>more_vert</md-icon></md-button>
            </div>
          </md-toolbar>
          
          <!-- CONTENT //-->
          <md-content>
            <div layout-padding ui-view></div>
          </md-content>
        </div><!-- /layout="column" //-->
        
        <md-sidenav md-component-id="right" class="md-sidenav-right md-darkframe-z2">
          <md-button ng-click="toggleMenu('right')"><md-icon>close</md-icon></md-button>
          <div layout-padding>Right</div>
        </md-sidenav>
        
      </div><!-- /layout="row" //-->
      
      <!-- OPEN LEFT NAV BUTTON //-->
      <md-button ng-click="toggleMenu('left')" class="toggle-left main-menu-toggle">
         <md-icon ng-if="!menuToggleStatus('left')">menu</md-icon>
         <md-icon ng-if="menuToggleStatus('left')">close</md-icon>
      </md-button>
      
    </div><!-- /GUiCommon //-->
  </body>

  <!-- build:js scripts/app.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/restangular/dist/restangular.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <!-- endbower -->
  <script src="src/core/core.module.js"></script>
  <script src="src/common/common.module.js"></script>
  <script src="src/sports/sports.module.js"></script>
  <script src="src/app.module.js"></script>
  <script src="src/core/restangular.config.js"></script>
  <script src="src/core/router.config.js"></script>
  <script src="src/core/httpStatus.constant.js"></script>
  <script src="src/welcome/welcome.module.js"></script>
  <script src="src/welcome/welcome.controller.js"></script>
  <script src="src/sports/home.controller.js"></script>
  <script src="src/sports/happy.controller.js"></script>
  <script src="src/core/gui.controller.js"></script>
  <script src="src/common/gui.controller.js"></script>
  <script src="src/common/split.filter.js"></script>
  <script src="src/common/roundUp.filter.js"></script>
  <script src="src/common/roundDP.filter.js"></script>
  <script src="src/common/truncateString.filter.js"></script>
  <script src="src/common/formatTimestamp.filter.js"></script>
  <script src="src/common/twentyFourHourWithSeconds.filter.js"></script>
  <script src="src/common/orderEvents.filter.js"></script>
  <script src="src/common/maxExpectationDisplay.filter.js"></script>
  <script src="src/common/countTrades.filter.js"></script>
  <script src="src/common/probToDecimal.filter.js"></script>
  <!-- endbuild -->

  <!-- removed
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  //-->
</html>